@charset "utf-8";
/*!
 * @author liyuelong1020@gmail.com
 * @date 15-10-27 下午3:45
 * @version 1.0.0
 * @description style 
 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.form-wrap {
    width: 90%;
    margin: 5%;
    border: 3px dashed #000;
    border-radius: 10px;
    padding: 20px;
}
.form-wrap .input-wrap {
    width: 100%;
    margin-bottom: 10px;
}
p, label {
    font: 400 14px/1.5em 'microsoft yahei';
}
label {
    margin-right: 10px;
}
.select-all {
    display: inline-block;
    padding-right: 10px;
    border-right: 1px solid #000;
}
